.footer {
  display: block;
  background: $color-dark-2;
  text-align: center;
  color: white;

  $b: &;

  &__top {
    @include rule(padding, (xl: 54px 0 43px, md: 30px 0));
  }

  &__bottom {
    @include rule(padding, (xl: 41px 0 60px, md: 40px 0));

    border-top: 1px solid $color-grey-4;
  }

  &__socials {
    justify-content: center;
  }

  &__copyright {
    font-family: $font-second;
    font-size: 13px;
    font-weight: 700;
    line-height: (20/13);
    letter-spacing: 0.21px;
  }

  &__disclaimer {
    opacity: 0.63;
    color: $color-grey-2;
    font-size: 13px;
    font-weight: 400;
    line-height: (20/13);
    letter-spacing: 0.21px;
    margin-top: 19px;
  }

  &__text {
    color: $color-grey-3;
    font-size: 11px;
    font-weight: 400;
    line-height: (17/11);
    margin: 28px auto 0;
    max-width: 680px;
  }
}
