extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Спецпроекты'

block content
  +header
  +b.MAIN.main
    .container
      each section in getData('sections')
        +section(section)
  +footer
