// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1300px; // Максимальная ширина контейнера контента
$container-padding: 20px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 20px; // Расстояние между колонками
$grid-gap-vertical: 20px; // Расстояние между строками в сетке
$breakpoints: (
  'xl': 1920px,
  'lg': 1280px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px
);

// ##########
// Цвета
// ##########
$color-basic: #333; // Основной цвет текста (применяется к body)
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-main: #b42828; // Основной фирменный цвет
$color-border: #ededed; // Основной цвет границ таблиц, секций

$color-dark-1: #211f19;
$color-dark-2: #262223;

$color-grey-1: #848380;
$color-grey-2: #787878;
$color-grey-3: #585755;
$color-grey-4: #2b2728;

// ##########
// Массив цветов для UI-кита
// ##########
$colors: (
  '$color-basic': black,
  '$color-placeholder': #777,
  '$color-input': black,
  '$color-main': #2252d8,
  '$color-border': #ccc,
);

// ##########
// Transitions
// ##########
$ease-main: .2s ease;

// ##########
// Шрифты
// ##########
$font-main: 'Noto Sans', sans-serif; // Основной шрифт сайта
$font-second: 'Noto Serif', serif; // Дополнительный шрифт
$font-third: Georgia, serif;
$font-fourth: 'Intro', sans-serif; // Дополнительный шрифт

// ##########
// Цвета для UI-кита (удалить, если он отсутствует)
// ##########
$ui-kit-bg: white; // Фон кита
$ui-kit-color-text: black; // Цвет текста
$ui-kit-color-gray: #ccc; // Цвет границ
$ui-kit-color-darkbg: #111; // Фон темной секции
