.section {
  display: block;

  $b: &;

  & + & {
    @include rule(margin-top, (xl: 50px, md: 30px));
    @include rule(padding-top, (xl: 60px, md: 40px));

    border-top: 1px solid $color-border;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: black;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: opacity $ease-main;

    @include rule(min-height, (xl: 327px, md: 200px));
    @include rule(padding, (xl: 80px, md: 20px));

    &:hover {
      opacity: .5;
    }

    &_dark {
      color: white;
    }
  }

  &__title {
    @include rule(font-size, (xl: 56px, md: 26px));

    font-family: $font-third;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .03em;
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__background {
    @include fill-img;
  }

  &__content {
    margin-top: 27px;
    display: flex;
  }

  &__circle {
    @include rule(width, (xl: 49px, md: 40px));
    @include rule(height, (xl: 49px, md: 40px));

    flex-shrink: 0;
    border-radius: 50%;
    background: $color-main;
    position: relative;
    fill: white;

    svg {
      width: 14px;
      height: 23px;

      @include center-image;
    }
  }

  &__text {
    @include rule(padding-top, (xl: 11px, md: 0px));
    @include rule(font-size, (xl: 16px, md: 14px));
    @include rule(margin-left, (xl: 32px, md: 15px));

    flex-grow: 1;
    line-height: (30/16);
    font-style: italic;

    p {
      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }
}
